.container {
  text-align: center;
}
.left{
	text-align: left;
}
.modalTitle{
	padding-right: calc(24px + 0.5rem) !important;
}
.btn{
	cursor: pointer;
}
.up:hover{
	color: green;
}
.down:hover{
	color: red;
}
