header{
	position: fixed;
	width: 100vw;
	z-index: 99;
	text-align: center;
}
.container {
  text-align: center;
	padding-top: 48px;
}
.left{
	text-align: left;
}
.modalTitle{
	padding-right: calc(24px + 0.5rem) !important;
}
.btn{
	cursor: pointer;
}
.delete{
	margin-right: 0.2rem;
}
.edit{
	margin-left: 0.2rem;
}
.green:hover{
	color: green;
}
.red:hover{
	color: red;
}
.yellow:hover{
	color: yellow;
}
textarea {
	resize: none;
	width: 100%;
}
